.fight-watch-bg {
  background: rgb(136, 8, 8);
  height: 100vh;
  overflow-y: scroll;
}

.fighter-image {
  max-height: 240px;
  max-width: 100%;
  object-fit: cover;
  object-position: center top;
}

.fight-watch-button {
  background-color: rgb(136, 8, 8)!important;
  border-color: rgb(136, 8, 8)!important;
}

.fight-watch-nav {
  z-index: 9000;
  border-bottom-color: rgb(136, 8, 8);
  border-bottom-width: 3px;
}

.active-text {
  opacity: 0.5;
  pointer-events: none;
}

::-webkit-scrollbar {
  width: 8px
}

::-webkit-scrollbar-button {
  display: none
}

::-webkit-scrollbar-thumb {
  background-color: rgb(37, 37, 41);
}


.fighter-container {
  overflow-y: scroll;
}

.white-out {
  background-color: white;
  color: white;
}

.white-out * {
  color: white !important;
}

.sorting-checkbox {
  margin-right: 6px
}

.sorting-checkbox:checked {
  background-color: rgb(136, 8, 8);
  border-color: rgb(136, 8, 8);
}

.fight-watch-dropdown-item:active {
  background-color: rgb(136, 8, 8);
} 