.desktop-half-width {
  width: 100%;
}

@media (min-width: 768px) {
  .desktop-half-width {
    width: 50%;
  }
}

.desktop-70-width {
  width: 100%;
}

@media (min-width: 768px) {
  .desktop-70-width {
    width: 70%;
  }
}

.square-image {
  position: relative;
  width: 100%; /* or any specific size */
  padding-top: 100%; /* This ensures the aspect ratio of 1:1 */
}

.square-image img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* This ensures the image covers the whole area without distortion */
}

.square-image-50 {
  position: relative;
  width: 50%; /* or any specific size */
  padding-top: 50%; /* This ensures the aspect ratio of 1:1 */
}

.square-image-50 img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* This ensures the image covers the whole area without distortion */
}

.padding-top-130px {
  padding-top: 130px;
}

.rounded-5rem {
  border-radius: 5rem;
}

.rounded-5rem-top-right {
  border-top-right-radius: 5rem;
}
.rounded-5rem-bottom-right {
  border-bottom-right-radius: 5rem;
}

.rounded-5rem-top-left {
  border-top-left-radius: 5rem;
}
.rounded-5rem-bottom-left {
  border-bottom-left-radius: 5rem;
}

.hover-fade {
  opacity: 1;
  transition: opacity 0.25s ease-in-out;
}

.portfolio-tile-text {
  opacity: 0;
  transition: opacity 0.25s ease-in-out;
}

.portfolio-tile:hover .portfolio-tile-text{
  opacity: 1;
}

.portfolio-tile:hover img {
  opacity: 0.3;
}

.left-minus-4-5rem {
  left: -4.5rem
}

.width-10rem {
  width: 10rem
}

.lottie {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 30px
}

.unique-value-image-container {
  height: 100%
}

